In [1]:
import sqlite3

# Koneksi ke SQLite database (atau membuat database baru)
conn = sqlite3.connect('dummy_data.db')
cursor = conn.cursor()

# Membuat tabel transaksi
cursor.execute('''
CREATE TABLE IF NOT EXISTS transaksi (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    account_number TEXT,
    merchant_name TEXT,
    category TEXT,
    date TEXT
)
''')

# Membuat tabel promo
cursor.execute('''
CREATE TABLE IF NOT EXISTS promo (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nama_promo TEXT,
    category TEXT,
    merchant TEXT
)
''')

In [14]:
# Execute the DELETE statement
cursor.execute("DELETE FROM promo WHERE id BETWEEN 6 AND 10")

# Commit the changes
conn.commit()

In [15]:
# Data transaksi dummy
transaksi_data = [
    ('100013129837', 'kopi kenangan', 'minuman', '2024-08-01'),
    ('100013129837', 'fore coffee', 'minuman', '2024-08-02'),
    ('100013129837', 'pulsa telkomsel', 'tagihan', '2024-08-03'),
    ('100013129837', 'cuci mobil andi', 'transportasi', '2024-08-04'),
    ('100013129837', 'bengkel mamad', 'transportasi', '2024-08-05'),
    ('100013129837', 'kopi kenangan', 'minuman', '2024-08-06'),
    ('100013129837', 'flash coffee', 'minuman', '2024-08-07'),
    ('109010231029', 'kopi kenangan', 'minuman', '2024-08-01'),
    ('109010231029', 'pulsa telkomsel', 'tagihan', '2024-08-02'),
    ('109010231029', 'cuci mobil andi', 'transportasi', '2024-08-03'),
    ('109010231029', 'fore coffee', 'minuman', '2024-08-04'),
    ('109010231029', 'bengkel mamad', 'transportasi', '2024-08-05'),
    ('109010231029', 'kopi kenangan', 'minuman', '2024-08-06'),
    ('109010231029', 'flash coffee', 'minuman', '2024-08-07'),
    ('109010231029', 'flash coffee', 'minuman', '2024-08-08'),
    ('100013129837', 'cuci mobil andi', 'transportasi', '2024-08-04'),
    ('100013129837', 'bengkel mamad', 'transportasi', '2024-08-05'),
    ('100013129837', 'kopi kenangan', 'minuman', '2024-08-06'),
    ('100013129837', 'kopi kenangan', 'minuman', '2024-08-07'),
    ('109010231029', 'pulsa telkomsel', 'tagihan', '2024-08-02'),
    ('109010231029', 'cuci mobil andi', 'transportasi', '2024-08-03')
]


# Memasukkan data ke tabel transaksi
cursor.executemany('''
INSERT INTO transaksi (account_number, merchant_name, category, date)
VALUES (?, ?, ?, ?)
''', transaksi_data)

conn.commit()

In [16]:
# Data promo dummy
promo_data = [
    ('Promo Diskon Minuman', 'minuman', 'kopi kenangan'),
    ('Promo Buy 1 Get 1 Minuman', 'minuman', 'fore coffee'),
    ('Promo Pulsa Murah', 'tagihan', 'pulsa telkomsel'),
    ('Promo Cuci Mobil Hemat', 'transportasi', 'cuco mobil andi'),
    ('Promo Ganti Oli Gratis', 'transportasi', 'bengkel mamad'),
    ('Promo Diskon 20%', 'minuman', 'sakara kopi bali'),
    ('Promo TGIF', 'minuman', 'starbucks'),
    ('Promo Buy 2 Get 3', 'minuman', 'tomoro coffee'),
]

# Memasukkan data ke tabel promo
cursor.executemany('''
INSERT INTO promo (nama_promo, category, merchant)
VALUES (?, ?, ?)
''', promo_data)

conn.commit()

In [2]:
# Mengecek data transaksi
cursor.execute('SELECT * FROM transaksi')
transaksi_records = cursor.fetchall()
print("Data Transaksi:")
for row in transaksi_records:
    print(row)

# Mengecek data promo
cursor.execute('SELECT * FROM promo')
promo_records = cursor.fetchall()
print("\nData Promo:")
for row in promo_records:
    print(row)

# Menutup koneksi
conn.close()

Data Transaksi:
(1, '100013129837', 'kopi kenangan', 'minuman', '2024-08-01')
(2, '100013129837', 'fore coffee', 'minuman', '2024-08-02')
(3, '100013129837', 'pulsa telkomsel', 'tagihan', '2024-08-03')
(4, '100013129837', 'cuci mobil andi', 'transportasi', '2024-08-04')
(5, '100013129837', 'bengkel mamad', 'transportasi', '2024-08-05')
(6, '100013129837', 'kopi kenangan', 'minuman', '2024-08-06')
(7, '100013129837', 'flash coffee', 'minuman', '2024-08-07')
(8, '109010231029', 'kopi kenangan', 'minuman', '2024-08-01')
(9, '109010231029', 'pulsa telkomsel', 'tagihan', '2024-08-02')
(10, '109010231029', 'cuci mobil andi', 'transportasi', '2024-08-03')
(11, '109010231029', 'fore coffee', 'minuman', '2024-08-04')
(12, '109010231029', 'bengkel mamad', 'transportasi', '2024-08-05')
(13, '109010231029', 'kopi kenangan', 'minuman', '2024-08-06')
(14, '109010231029', 'flash coffee', 'minuman', '2024-08-07')
(15, '109010231029', 'flash coffee', 'minuman', '2024-08-08')
(16, '100013129837', 'cuci mobil andi', 'transportasi', '2024-08-04')
(17, '100013129837', 'bengkel mamad', 'transportasi', '2024-08-05')
(18, '100013129837', 'kopi kenangan', 'minuman', '2024-08-06')
(19, '100013129837', 'kopi kenangan', 'minuman', '2024-08-07')
(20, '109010231029', 'pulsa telkomsel', 'tagihan', '2024-08-02')
(21, '109010231029', 'cuci mobil andi', 'transportasi', '2024-08-03')

Data Promo:
(1, 'Promo Diskon Minuman', 'minuman', 'kopi kenangan')
(2, 'Promo Buy 1 Get 1 Minuman', 'minuman', 'fore coffee')
(3, 'Promo Pulsa Murah', 'tagihan', 'pulsa telkomsel')
(4, 'Promo Cuci Mobil Hemat', 'transportasi', 'cuco mobil andi')
(5, 'Promo Ganti Oli Gratis', 'transportasi', 'bengkel mamad')
(6, 'Promo Diskon 20%', 'minuman', 'sakara kopi bali')
(7, 'Promo TGIF', 'minuman', 'starbucks')
(8, 'Promo Buy 2 Get 3', 'minuman', 'tomoro coffee')

**Setup: Koneksi ke SQLite dan Ambil Data**

In [3]:
import sqlite3
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Koneksi ke SQLite database
conn = sqlite3.connect('dummy_data.db')
cursor = conn.cursor()

# Mengambil data transaksi
transaksi_df = pd.read_sql_query('SELECT * FROM transaksi', conn)
transaksi_df

# Mengambil data promo
promo_df = pd.read_sql_query('SELECT * FROM promo', conn)

**Rule-Based Filtering: Menghitung Frekuensi Transaksi per Merchant**

In [4]:
# Menghitung frekuensi transaksi per merchant untuk setiap user
merchant_freq = transaksi_df.groupby(['account_number', 'merchant_name']).size().reset_index(name='freq')

# Mendapatkan merchant dengan frekuensi tertinggi untuk setiap user
def get_top_merchant(account_number, merchant_freq):
    user_merchant_freq = merchant_freq[merchant_freq['account_number'] == account_number]
    if not user_merchant_freq.empty:
        return user_merchant_freq.sort_values(by='freq', ascending=False).iloc[0]['merchant_name']
    return None

**Implementasi Rekomendasi dengan Rule-Based dan Fallback**

In [5]:
def rekomendasi_promo(account_number, transaksi_df, promo_df, merchant_freq):
    recommended_promos = []

    # Langkah 1: Rule-Based Filtering
    top_merchant = get_top_merchant(account_number, merchant_freq)
    if top_merchant:
        # Cari promo dari merchant dengan frekuensi tertinggi
        promo_top_merchant = promo_df[promo_df['merchant'] == top_merchant]
        recommended_promos.extend(promo_top_merchant.to_dict('records'))
        print(f"Promo dari {top_merchant}: {promo_top_merchant.to_dict('records')}")

    # Langkah 2: Jika promo dari merchant tertinggi tidak cukup, cari promo lain dalam kategori yang sama
    user_categories = transaksi_df[transaksi_df['account_number'] == account_number]['category'].unique()
    print(f"Kategori user: {user_categories}")
    promo_same_category = promo_df[promo_df['category'].isin(user_categories)]
    print(f"Promo dari kategori yang sama: {promo_same_category.to_dict('records')}")
    recommended_promos.extend(promo_same_category.to_dict('records'))

    # Langkah 3: Fallback ke Content-Based Filtering jika diperlukan
    if len(recommended_promos) < 3:  # contoh threshold minimal 3 promo
        transaksi_df['combined_features'] = transaksi_df['category'] + " " + transaksi_df['merchant_name']
        promo_df['combined_features'] = promo_df['category'] + " " + promo_df['merchant']

        vectorizer = TfidfVectorizer()
        tfidf_transaksi = vectorizer.fit_transform(transaksi_df['combined_features'])
        tfidf_promo = vectorizer.fit_transform(promo_df['combined_features'])

        user_index = transaksi_df.index[transaksi_df['account_number'] == account_number].tolist()
        user_similarities = cosine_similarity(tfidf_transaksi[user_index], tfidf_promo)
        avg_similarity = user_similarities.mean(axis=0)

        rekomendasi_df = pd.DataFrame({
            'nama_promo': promo_df['nama_promo'],
            'category': promo_df['category'],
            'merchant': promo_df['merchant'],
            'similarity': avg_similarity
        }).sort_values(by='similarity', ascending=False)
        
        recommended_promos.extend(rekomendasi_df.head(3).to_dict('records'))  # contoh menambahkan hingga 3 promo lagi
    
    # Menghapus duplikasi
    recommended_promos = pd.DataFrame(recommended_promos).drop_duplicates().to_dict('records')
    
    return pd.DataFrame(recommended_promos)


# Contoh penggunaan untuk user1
rekomendasi_user1 = rekomendasi_promo('109010231029', transaksi_df, promo_df, merchant_freq)
print("Rekomendasi untuk user1:")
print(rekomendasi_user1)

# Contoh penggunaan untuk user2
rekomendasi_user2 = rekomendasi_promo('100013129837', transaksi_df, promo_df, merchant_freq)
print("\nRekomendasi untuk user2:")
print(rekomendasi_user2)

Promo dari cuci mobil andi: []
Kategori user: ['minuman' 'tagihan' 'transportasi']
Promo dari kategori yang sama: [{'id': 1, 'nama_promo': 'Promo Diskon Minuman', 'category': 'minuman', 'merchant': 'kopi kenangan'}, {'id': 2, 'nama_promo': 'Promo Buy 1 Get 1 Minuman', 'category': 'minuman', 'merchant': 'fore coffee'}, {'id': 3, 'nama_promo': 'Promo Pulsa Murah', 'category': 'tagihan', 'merchant': 'pulsa telkomsel'}, {'id': 4, 'nama_promo': 'Promo Cuci Mobil Hemat', 'category': 'transportasi', 'merchant': 'cuco mobil andi'}, {'id': 5, 'nama_promo': 'Promo Ganti Oli Gratis', 'category': 'transportasi', 'merchant': 'bengkel mamad'}, {'id': 6, 'nama_promo': 'Promo Diskon 20%', 'category': 'minuman', 'merchant': 'sakara kopi bali'}, {'id': 7, 'nama_promo': 'Promo TGIF', 'category': 'minuman', 'merchant': 'starbucks'}, {'id': 8, 'nama_promo': 'Promo Buy 2 Get 3', 'category': 'minuman', 'merchant': 'tomoro coffee'}]
Rekomendasi untuk user1:
   id                 nama_promo      category          merchant
0   1       Promo Diskon Minuman       minuman     kopi kenangan
1   2  Promo Buy 1 Get 1 Minuman       minuman       fore coffee
2   3          Promo Pulsa Murah       tagihan   pulsa telkomsel
3   4     Promo Cuci Mobil Hemat  transportasi   cuco mobil andi
4   5     Promo Ganti Oli Gratis  transportasi     bengkel mamad
5   6           Promo Diskon 20%       minuman  sakara kopi bali
6   7                 Promo TGIF       minuman         starbucks
7   8          Promo Buy 2 Get 3       minuman     tomoro coffee
Promo dari kopi kenangan: [{'id': 1, 'nama_promo': 'Promo Diskon Minuman', 'category': 'minuman', 'merchant': 'kopi kenangan'}]
Kategori user: ['minuman' 'tagihan' 'transportasi']
Promo dari kategori yang sama: [{'id': 1, 'nama_promo': 'Promo Diskon Minuman', 'category': 'minuman', 'merchant': 'kopi kenangan'}, {'id': 2, 'nama_promo': 'Promo Buy 1 Get 1 Minuman', 'category': 'minuman', 'merchant': 'fore coffee'}, {'id': 3, 'nama_promo': 'Promo Pulsa Murah', 'category': 'tagihan', 'merchant': 'pulsa telkomsel'}, {'id': 4, 'nama_promo': 'Promo Cuci Mobil Hemat', 'category': 'transportasi', 'merchant': 'cuco mobil andi'}, {'id': 5, 'nama_promo': 'Promo Ganti Oli Gratis', 'category': 'transportasi', 'merchant': 'bengkel mamad'}, {'id': 6, 'nama_promo': 'Promo Diskon 20%', 'category': 'minuman', 'merchant': 'sakara kopi bali'}, {'id': 7, 'nama_promo': 'Promo TGIF', 'category': 'minuman', 'merchant': 'starbucks'}, {'id': 8, 'nama_promo': 'Promo Buy 2 Get 3', 'category': 'minuman', 'merchant': 'tomoro coffee'}]

Rekomendasi untuk user2:
   id                 nama_promo      category          merchant
0   1       Promo Diskon Minuman       minuman     kopi kenangan
1   2  Promo Buy 1 Get 1 Minuman       minuman       fore coffee
2   3          Promo Pulsa Murah       tagihan   pulsa telkomsel
3   4     Promo Cuci Mobil Hemat  transportasi   cuco mobil andi
4   5     Promo Ganti Oli Gratis  transportasi     bengkel mamad
5   6           Promo Diskon 20%       minuman  sakara kopi bali
6   7                 Promo TGIF       minuman         starbucks
7   8          Promo Buy 2 Get 3       minuman     tomoro coffee

In [76]:
# Execute a SELECT query
cursor.execute("SELECT * FROM transaksi where account_number = '109010231029' and category = 'minuman'")

# Fetch all rows from the result set
rows = cursor.fetchall()

# Print the rows
for row in rows:
    print(row)

In [75]:
# Define the ID and account number
id_to_remove = 8
account_number_to_remove = '109010231029'

# Execute the DELETE statement
cursor.execute("DELETE FROM transaksi WHERE id = ? AND account_number = ?", (id_to_remove, account_number_to_remove))

# Commit the changes
conn.commit()